.expense {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}

.expense h1 {
  font-size: 3em;
  margin-bottom: 20px;
}
.message-container {
  position: fixed;
  top: 57px;
  right: 5px;
  z-index: 9999;
}

.message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
}

.expense-subtitle {
  font-size: 15px;
  margin-bottom: 40px;
}
.userProfile-link {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
